<section id="Contact us" class="bg-info bg-gradient">
    <div class="container text-center col-lg-4 pt-1 pb-2">
      <h3>Contact US</h3>
      <p class="lead text-muted">Contact us for bookings and enquiry!!</p>
  
      <div class="container text-start">
        <form action="" method="post"> 
          
          <div class="form-floating mb-2">
            <input type="text" class="form-control" name="Name" id="name" placeholder="eg: Ram Kumar" required>
            <label for="name">Name</label>
          </div>
  
  
          <div class="row mb-2 g-1">
            <div class="col form-floating">
              <input type="tel" id="phone" name="phone" class="form-control" placeholder="eg: 9124687510" required formControlName="phone" minlength="10" maxlength="10">
              <label for="typePhone" class="ms-2">Phone no.</label>
            </div>
            <div class="col form-floating">
              <!-- <input type="email" id="email" name="Email" class="form-control" placeholder="eg: name@email.com"> -->
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
              <label for="email" class="ms-2">Email</label>
            </div>
          </div>

          <!-- <div class="alert alert-danger">
            <div *ngIf="f.phone.errors?.pattern">Please, Enter 10 digit Mobile Number.</div>
          </div>
   -->
          <!-- <div class="alert alert-danger">
            Enter a 10 digit Mobile number
          </div> -->
  
          <div class="form-floating">
            <select name="booking" id="booking" class="form-select" required>
              <option value="Main Hall" selected>Main Hall</option>
              <option value="Mini Hall" >Mini Hall</option>
              <option value="Mini Hall + Dinning">Mini Hall + Dining</option>
            </select>
            <label for="booking">Booking Type</label>
          </div>
  
          <div class="container text-center mt-2"><button type="submit" class="btn btn-dark">Submit</button></div>
  
        </form>
      </div>
    </div>
  
  </section>
  