.notify-badge{
    position: absolute;
    right:-20px;
    top:10px;
    background:rgb(225, 154, 53);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px; 
    font-size:14px;
}

.notify-badge:hover {
    background:rgb(194, 114, 3);
}

@media screen and (max-width:576px) {

    .notify-badge{
        border-radius: 20px 20px 20px 20px;
        font-size: 7px;
    }
    
}

