

  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="fw-bold text-secondary">AR</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-items-end" id="navbarNavAltMarkup"  >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a href="#About us" class="nav-link">About Us</a>
            </li>

            <li class="nav-item"><a href="#Contact us" class="nav-link">Contact US</a></li>
          </ul>
      </div>
    </div>
  </nav>


<section id="home">

    <div class="container pb-5 justify-content-center align-items-center">
        <div class="row py-5 text-center text-md-start text-sm-end">
            <div class="col-lg-5 text-center align-content-center">
                <h1>
                    <div class="div text-center display-1 fw-bold text-secondary">Alokkan</div>
                    <div class="text-center display-3 text-secondary">Auditorium</div>
                </h1>

                <button class="btn btn-success" (click)="open(content)">Enquire Now</button>
                <!-- <a href="#footer" class="btn btn-success">Enquire Now</a> -->

                
              </div>
              
            <div class="col-5 d-none d-lg-block">
                <!-- https://drive.google.com/file/d/1Tk7zFmBQKdh2bsnDHhZdv17XfM4D9QSe/view?usp=sharing -->
                <iframe src="https://drive.google.com/file/d/1Tk7zFmBQKdh2bsnDHhZdv17XfM4D9QSe/preview" width="540" height="380" allow="autoplay" title="Intro"></iframe>
            </div>
        </div>

        <!-- testimonial -->
        <!-- <div class="row text-justify lead rounded border border-2 d-none d-md-block testimonial">{{InfoContent}} {{InfoContent2}}</div> -->

        <div class="testimonial10 py-5 bg-success-gradiant d-none d-sm-block">
          <div class="container">
            <div class="owl-carousel owl-theme text-center testi10">
              <!-- item -->
              <div class="item">
                <div class="quote-bg">
                  <h3 class="font-weight-light text-white">{{InfoContent}}</h3>
                </div>
              </div>
              <!-- item -->
            </div>
          </div>
        </div>




    </div>
</section>

<!-- Modal Data -->

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">For Booking and Enquiry</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<!-- <div class="container text-start">
      <form >
        
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="name" placeholder="eg: Ram Kumar">
          <label for="name">Name:</label>
        </div>


        <div class="form-floating mb-2">
          <input type="tel" id="typePhone" class="form-control" placeholder="eg: 9124687510"/>
          <label for="typePhone">Phone no.:</label>

        </div>

        <div class="form-floating">
          <select name="" id="booking" class="form-select">
            <option value="Main Hall" selected>Main Hall</option>
            <option value="Mini Hall" >Mini Hall</option>
            <option value="Mini Hall + Dinning" >Mini Hall + Dining</option>
          </select>
          <label for="booking">Booking Type</label>
        </div>

        <div class="container text-center mt-2"><button type="submit" class="btn btn-dark">Submit</button></div>

      </form>
    </div> -->

    <div class="container text-start">
      <p class="lead fw-bold">Contact us </p>
      <p><i class="bi bi-phone-fill"></i> +91 9446477700</p>
      <p><i class="bi bi-telephone-fill"></i> +91 (0497)27997700</p>
    </div>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div> -->
</ng-template>




<section id="About us" class="mt-5 bg-light bg-gradient">

    <div class="container pb-3 pt-3 text-center">
        <h3>About Us</h3>
        <p class="lead  text-muted">Know more about our offerings and plans</p>
        <p class="text-warning">Online booking coming soon!!</p>

        <div class="row mb-5 justify-content-center text-center gap-2 ">

          <!-- Mini Hall -->
            <div class="col-8 col-lg-4 col-xl-3">
              <div class="card border-0">
                <img src="https://lh3.googleusercontent.com/p/AF1QipPNrwerU07-KWpiG8xEnmwi9yxIJYEHpMtzx4-C=s1360-w1360-h1020" class="card-img-top d-none d-sm-block" alt="--Hall--" height="225px">
                <div class="card-body text-center">
                  <h5 class="card-title">Mini Hall</h5>
                  <p class="card-text text-muted">With its cozy atmosphere and versatile layout options, Alokkan Mini Hall is perfect for hosting a wide range of events, from seminars and workshops to social gatherings and private functions. Whether you're planning a business meeting, a birthday celebration, or a small-scale performance, our mini hall provides the ideal space to bring your vision to life.</p>
                </div>
                
                <div class="card-body text-center">
                    <!-- <a href="#footer" class="btn btn-outline-success">Enquire Now</a> -->
                    <button class="btn btn-outline-success" (click)="open(content)">Enquire Now</button>
                </div>
              </div> 
            </div>

            <!-- Main Hall -->

            <div class="col-8 col-lg-4 col-xl-3">
              <div class="card border-0">
                <img src="https://lh3.googleusercontent.com/p/AF1QipOhkPySp65767Vklebejxbg5oFsyay32qc6_ZiX=s1360-w1360-h1020" class="card-img-top d-none d-sm-block" alt="--Hall--" height="225px">
                <div class="card-body text-center">
                  <h5 class="card-title">Main Hall</h5>
                  <p class="card-text text-muted">Welcome to the grandeur of Alokkan Main Hall. With a capacity to accommodate large crowds, this majestic space sets the stage for unforgettable events. State-of-the-art technology, impeccable acoustics, and elegant design converge to create an atmosphere of sophistication and excellence. Elevate your gatherings, conferences, and performances in the epitome of event venues.</p>
                </div>
                
                <div class="card-body text-center">
                    <!-- <a href="#footer" class="btn btn-outline-success">Enquire Now</a> -->
                    <button class="btn btn-outline-success" (click)="open(content)">Enquire Now</button>
                </div>
              </div> 
            </div>

            <!-- Meeting Hall -->
            <div class="col-8 col-lg-4 col-xl-3">
              <div class="card border-0 ">      
                <span class="notify-badge text-muted">Coming Soon</span>
                <img src="https://www.oyorooms.com/blog/wp-content/uploads/2018/03/proper-seating-arrangement.jpg" class="card-img-top d-none d-sm-block" alt="--Hall--" height="225px">
                <div class="card-body text-center">
                  
                  <h5 class="card-title">Meeting Hall</h5>
                  <p class="card-text text-muted">
                    Step into the refined ambiance of the Meeting Hall. Designed for smaller gatherings and corporate events, this versatile space offers comfort and functionality in equal measure. Equipped with modern amenities and attentive service, the hall ensures seamless meetings, workshops, and seminars. Experience productivity and convenience in a setting tailored to your professional needs.</p>
                </div>
                
                <div class="card-body text-center">
                    <a href="#footer" class="btn btn-success disabled">Enquire Now</a>
                </div>
              </div> 
            </div>

        </div>   
    </div> 

</section>




<section id="Contact us" class="bg-info bg-gradient">
  <div class="container text-center col-lg-4 pt-1 pb-2">
    <h3>Contact US</h3>
    <p class="lead text-muted">Contact us for bookings and enquiry!!</p>

    <div class="container text-start">
      <form >
        
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="name" placeholder="eg: Ram Kumar" required>
          <label for="name">Name:</label>
        </div>


        <div class="form-floating mb-2">
          <input type="tel" id="typePhone" class="form-control" placeholder="eg: 9124687510" required>
          <label for="typePhone">Phone no.:</label>

        </div>

        <div class="form-floating">
          <select name="" id="booking" class="form-select">
            <option value="Main Hall">Main Hall</option>
            <option value="Mini Hall" >Mini Hall</option>
            <option value="Mini Hall + Dinning" selected>Mini Hall + Dining</option>
          </select>
          <label for="booking">Booking Type</label>
        </div>

        <div class="container text-center mt-2"><button type="submit" class="btn btn-dark">Submit</button></div>

      </form>
    </div>
  </div>

</section>

<section id="footer">
  <footer class="bg-dark-subtle text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center fw-light p-3">
      © 2024 Copyright:
      <a class="text-body" href="https://alokkan.com/">alokkan.com</a>
    </div>
    <!-- style="background-color: rgba(0, 0, 0, 0.05); -->
    <div class="container-fluid pt-1 pb-2">
      <div class="row text-center">
        <div class="col-md-8">
              <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.56562100124!2d75.39818947458934!3d11.935288636751512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba43d50e85faa05%3A0xab54e90695b26eff!2sAlokkan%20Auditorium!5e0!3m2!1sen!2sin!4v1712817759741!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="d-none d-md-block container-fluid"></iframe></div>
        </div>
        <div class="col-12 col-md-4 ">
          <p class="lead fw-bolder"><i class="bi bi-building"></i> Alokkan Auditorium</p>
          <p><i class="bi bi-geo-alt-fill"></i> Pulloopi Bazar <br> Kannadipharambha <br> 670604</p>
          <p><i class="bi bi-browser-chrome"></i><a href="http://www.alokkan.com" class="text-black" style="text-decoration: none;"> www.alokkan.com</a></p>
          <p><i class="bi bi-phone-fill"></i> +91 9446477700</p>
          <p><i class="bi bi-telephone-fill"></i> +91 (0497)27997700</p>
          <p><i class="bi bi-envelope-fill"></i> <a href="mailto:info@alokkan.com" class="text-black" style="text-decoration: none;">info&#64;alokkan.com</a></p>

        </div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
</section>